<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
    </tr>
  </thead>
  <tbody id="records">
    <tr *ngFor="let product of products$ | async, let i = index">
      <td>{{product.name}}</td>
      <td><button class="btn btn-success" (click)="editInput(product.id)"><i class="far fa-edit"></i></button></td>
      <td><button class="btn btn-danger" (click)="deleteInput(product.id)"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>



<button type="submit" class="btn btn-primary" (click)="onNew()">Toevoegen</button>
<br>
<div class="regentry text-center" *ngIf="showNew">
  <h4>Nieuw product invoeren</h4>
  <br>
  <form (ngSubmit)="onSave()">
    <div class="form-group row">
      <label for="name-input" class="col-2 col-form-label">Item</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)]="name" name="name">
      </div>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-success mr-4" (click)="onSave()">Bewaren</button>
      <button type="submit" class="btn btn-dark" (click)="onCancel()">Annuleren</button>
    </div>
  </form>
</div>