<div class="container">

  <h5 class="mb-5 mt-5">Bestaande contactpersoon aanpassen</h5>


</div>


<div class="container">
  <form>
    <div *ngIf="(contact$ | async) as contact">
      <input class="form-control" type="hidden" #idvar value="{{contact.id}}">
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Naam</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" #namevar value="{{contact.name}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputTel" class="col-sm-2 col-form-label">Telefoon</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputTel" #telephone value="{{contact.telephone}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputMail" class="col-sm-2 col-form-label">Mail</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputMail" #mail value="{{contact.mail}}">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputOrg" class="col-sm-2 col-form-label">Organisatie</label>
        <div class="col-sm-10">
          <select name="inputOrg" #organisation value="{{organisation.id}}">
            <option *ngFor="let organisation of organisations$ | async">
              {{organisation.organisation}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputContacted" class="col-sm-2 col-form-label">Laatst gecontacteerd</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="inputContacted" #last_contacted
            value="{{contact.last_contacted}}">
        </div>
      </div>
      <button class="btn btn-success" (click)="editInput(
      idvar.value,namevar.value,telephone.value,mail.value,organisation.value,last_contacted.value
    )">Bewaren</button>
      <button class="btn btn-dark ml-4" (click)="onCancel()">Annuleren</button>

    </div>


  </form>

</div>