<app-toolbar></app-toolbar>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" #userEmail [formControl]="email" name="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter your password" #userPassword [type]="hide ? 'password' : 'text'"
                required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="authService.login(userEmail.value, userPassword.value)" color="primary">Sign
      In</button>
  </mat-card-actions>
</mat-card>

<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" (click)="authService.SignOut()">Log out</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Show user data when logged in -->
      <div class="row" *ngIf="authService.userData as user">
        <div class="col-md-12">
          <div class="media">
            <img class="align-self-start mr-5 img-thumbnail rounded-circle"
              src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
            <div class="media-body">
              <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p>User ID: <strong>{{user.uid}}</strong></p>
              <p>Email: <strong>{{user.email}}</strong></p>
              <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>